<form action="#" method="post">

  <h2> Sign-up Page </h2>
  
  <h3>Username</h3>
  <p><input type="text" name="user" required></p>

  <h3>Password</h3>
  <p><input type="password" name="pass" required></p>
  
  <input type="submit">

</form>
